.partof {background-color: yellow; color: darkgreen;}
.header {text-align: center;}
.main {text-align: center;}
h2 { margin-right: 32%; margin-bottom: 0%;}
.Fresh {text-decoration: underline; margin-right: 21%; margin-top: 0%; margin-bottom: 0%;}
.Ingredients {margin-right: 34%;}
.forthefocaccia {margin-right: 33%;}
.article {margin-left: 30%;}
li {margin-top: 10px; margin-bottom: 10px;}
.article2 {text-align: center;}
.forthetopping {margin-right: 33%;}
.toppinglist {margin-left: 30%;}
.Method {margin-left: 30%;}
.makethefocaccia {margin-left: 30%;}
.inamedium {margin-left: 30%;}
.footer {margin-left:30%}